.container {
  width: 1170px;
  margin: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 80px;
  line-height: 80px;
}

h1 {
  font-size: 58px;
  font-weight: 600;
}

.logo_nav {
  font-size: 28px;
  letter-spacing: 6px;
}

.menu_nav li , .lang_nav li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
}

.menu_nav ul , .lang_nav ul {
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

.hero_img {
  background-image: url(../img/938415.jpeg);
  background-size: cover;
  height: 700px;
  position: relative;
  background-repeat: no-repeat;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lang_nav li:not(:last-child) a {
  border-right: 1px solid black;
  padding-right: 15px;
}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  color: white;
}

.hero_text p {
  font-size: 20px;
  padding: 30px;
}

.hero_text img {
  height: 70px;
}
